.back {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #01172F;
}

.canva {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100% !important;
  height: 100% !important;
}